# Node dependencies
node_modules/

# Build output
dist/
.angular/

# Environment files
.env
*.env

# IDE settings
.vscode/
.idea/

# Logs
*.log

# OS-specific files
.DS_Store
Thumbs.db

# TypeScript cache
*.tsbuildinfo
